.container-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:100px
}

.container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.box{
    width: 550px;
    height: 550px;
    border-radius: 20px;
    background-color: #C6DE6F;
}

.form-label{
    font-weight: bold;
}

