* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 10rem;
}

img {
  width: 90px;
}

.memory-game {
  width: 658px;
  height: 658px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 3px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 3px;
  position: absolute;
  border-radius: 5px;
  background: #197237;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
